/* 全局样式 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{background:#fff;color:#333;font-size:12px; margin-top:5px;font-family:"SimSun","宋体","Arial Narrow";}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
a{text-decoration:none;}
a:link{color:#009;}
a:visited{color:#999;}
a:hover,a:active,a:focus{color:#c00;text-decoration:underline;}
input{background:url(master_admin.png) no-repeat 0 -73px;border:1px solid #CECECE;color:#525252;padding:5px;}
textarea{background:url(master_admin.png) no-repeat 0 -135px;vertical-align:top;border:1px solid #CECECE;}

/*window dialog*/
.qwindow{z-index:30000;position:absolute;top:0;left:0;padding:10px;visibility:hidden;}
.qwindow .winbox{z-index:2;position:relative;border:1px solid #cacaca;}
.qwindow .winbg{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:1;background:#545454;opacity:0.2;filter:alpha(opacity=20);border-radius:3px;box-shadow:0 0 5px #395680;_width:expression(this.parentNode.scrollWidth +"px");_height:expression(this.parentNode.scrollHeight +"px");}
.qwindow .winhead{z-index:2;position:relative;background:#fff;}
.qwindow .winhead .wintitle{display:none;height:30px;line-height:30px;padding-left:10px;font-size:14px;color:#555;font-weight:bold;border-bottom:1px solid #c5c5c5;overflow:hidden;}
.qwindow .winhead .winclose{position:absolute;top:0;right:0;display:none;width:30px;height:30px;cursor:pointer;background:url(master_admin.png) no-repeat -19px 0px;}
.qwindow .winbody{z-index:1;position:relative;background:#fff;overflow:hidden;}
.qwindow .winbody iframe{width:100%;height:100%;}
.qwindow_mask{z-index:30000;position:absolute;top:0;left:0;display:none;background:#545454;width:100%;height:100%;opacity:0.50;filter:alpha(opacity=50);}
/*window dialog end*/

/* pager */
.pager{clear:both;}
.pager .record, .pager .prev, .pager .next, .pager .turn, .pager .selected{display:block;float:left;clear:none;height:24px;line-height:24px;}
.pager .record{width:150px;}
.pager .selected{width:100px;}
.turn li{float:left;width:20px;height:20px;line-height:20px;border:1px #E5E5E5 solid;padding:2px;margin:0 4px;text-align:center;}
.turn .current{background:#EBEFFA;}
/* pager end */

.line{height:4px;background:#CCC;margin:0 auto;}
.loading{border:0px solid #CCC;padding:3px;margin:80px;font-size:14px;color:#444343;}
.w900{width:900px;}
.btn{cursor:pointer;}
.space{height:14px;background:#FFF;margin:0 auto;clear:both;}

.top{height:30px;line-height:30px;background:#E5E5E5;margin:0 auto;padding:4px;}
.top span{font-size:18px;font-weight:bold;display:block;margin-top:8px;margin-left:2px;float:left;}
.top a{display:block;float:right;width:100px;margin-top:8px;}

.page{margin:0 auto;}
.page .left{width:100px;float:left;}
.page .indexInfo{}
.page .tt{text-indent:10px;font-size:14px;font-weight:bold;height:30px;line-height:30px;border-bottom:1px solid #999;}
.page .cc{margin-top:10px;}
.page .cc li{height:25px;line-height:25px;}
.page .notice{height:30px;line-height:30px; border-top:1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;}


.menu h4{padding-top:10px;height:25px;line-height:25px;font-size:20px;font-weight:200;border-bottom:2px solid #999;vertical-align:bottom;}
.menu .current{border-bottom:2px solid #A3BCFF;}
.menu li{height:30px;line-height:30px;font-size:14px;font-weight:bold;color:#999;border-bottom:1px dotted #B3B3B3;text-indent:10px;}

.page .right{width:800px;float:left;}
.right .content{margin-top:20px;margin-left:10px;}

.foot{}

/*~		Pay	~*/
.pay_type{width:100px;float:left;}
.pay_type h1{font-size:16px;}
.pay_type .head{margin-top:3px;}
.pay_type .head h1{font-size:14px;font-weight:600;}
.pay_type .current{border-bottom:1px dashed #FF9C08;}
.pay_type li{text-indent:10px;height:20px;line-height:20px;}
.pay_type .ico{;background:url(master_admin.png) no-repeat 0px 0px;display:block;float:left;width:10px;height:20px;margin-left:10px;}

.pay_add{padding:10px;}
.pay_add span{font-size:13px;font-weight:bold;}
.pay_add li{width:100px;float:left;margin-bottom:3px;border-bottom:1px solid #E5E5E5;}
.pay_add .ammount{clear:both;width:500px;}
.pay_add .note{clear:both;width:500px;}
.pay_add .btn_add{clear:both;width:500px;text-align:center;}
.pay_add input{font-size:12px;}



.pay_content{width:690px;float:left;}
.pay_content .head li{background:#999;height:30px;line-height:30px;color:#fff;font-weight:bold;}
.pay_content .sub li{text-align:center;cursor:pointer;float:left;border:1px solid #999; width:100px;height:20px;line-height:20px;display:block;margin:2px;padding:2px;background-color:#E5E5E5;letter-spacing:1px;}


.head{clear:both;}
.head .type{font-size:14px;font-weight:bold;float:left;width:100px;}
.head .name{float:left;width:300px;}

.box li{float:left;font-size:14px;text-align:center;height:20px;line-height:20px;}
.box .id{width:100px;}
.box .name{width:100px;}
.box .ammount{width:100px;}
.box .date{width:200px;}
.box .pay_note{width:200px;overflow:hidden;}
.body li{border-bottom:1px solid #999;}
.body .line li{background:#E5E5E5;}

/*~		统计图		~*/
.chardiv_tt{float:left;border-bottom:1px solid #E5E5E5;width:650px;}
.chardiv_tt span{display:block;clear:both;font-size:14px;font-weight:bold;float:left;}
.chardiv_tt a{display:block;float:right;cursor:pointer;}


.book_add{background:#EBEFFA;padding:14px 30px;z-index:2;}
.book_add .parts{border-bottom:1px solid #DFDFDF;padding:10px 0;margin-bottom:10px;zoom:1;}
.book_add .parts p{line-height:25px;position:relative;padding-left:6em;min-height:25px;margin-bottom:10px;}
.book_add .parts label{position:absolute;vertical-align:middle;left:0;height:26px;line-height:26px;display:block;width:6em;color:#333;}

.book_add .parts em{color:red;position:absolute;left:-12px;top:4px;}
.book_add .act .btn{margin-left:6em;display:inline-block;background:url(master_admin.png) repeat-x 0 -24px;height:30px;width:88px;}

.book_index{}
.book_index .btnarea{height:50px;font-size:16px;font-weight:bold;}
.book_index .head{font-size:14px;font-weight:bold;height:17px;line-height:17px;}
.book_index ul{clear:both;}
.book_index .body .head li{font-size:12px;font-weight:bold;background:#E5E5E5;} 
.book_index .body li{float:left;height:30px;line-height:30px;overflow:hidden;}
.book_index .body .id{width:40px;text-align:center;}
.book_index .body .name{width:220px;overflow:hidden;}
.book_index .body .read{width:100px;overflow:hidden;}
.book_index .body .date_begin{width:70px;}
.book_index .body .date_end{width:70px;}
.book_index .body .note{width:270px;}

